@font-face {
    font-family: 'iA Writer Quattro';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url('woff2/iAWriterQuattro-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'iA Writer Quattro';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('woff2/iAWriterQuattro-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'iA Writer Quattro';
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    src: url('woff2/iAWriterQuattro-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'iA Writer Quattro';
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    src: url('woff2/iAWriterQuattro-BoldItalic.woff2') format('woff2');
}
